body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input, button {
    padding: 10px;
    width: 90%;
}
